<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :audio %><br>
    <%= f.text_field :audio %>
  </div>
  <div class="field">
    <%= f.label :video %><br>
    <%= f.text_field :video %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.check_box :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.check_box :twitter %>
  </div>
  <div class="field">
    <%= f.label :googleplus %><br>
    <%= f.check_box :googleplus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
