<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @socialmedium.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @socialmedium.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @socialmedium.password %>
</p>

<%= link_to 'Edit', edit_socialmedium_path(@socialmedium) %> |
<%= link_to 'Back', socialmedia_path %>
